.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 10px;
  color: white;
  cursor: pointer;
  color: var(--primary-color-dark);
  transition: background-color 0.4s ease;
  margin: 18px 0;
  font-size: 14px;
}

.button:hover {
  background: linear-gradient(
    to right,
    #fff 50%,
    #000 50%
  ); /* Reverse gradient */
  background-size: 200% 100%;
  transition: background-position 0.4s;
  background-position: -100% 0;
  color: white;
}

@media (max-width: 600px) {
  .button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
