.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1280px;
}

.heading {
  font-size: 22px;
  font-weight: 500;
  width: 100%;
  margin: 24px 0;
}

.addBlogButton {
  display: flex;
  align-items: center;
  background-color: var(--primary-color-dark);
  transition: background-color 200ms ease-in-out;
  color: white;
  padding: 6px 24px;
  border-radius: 16px;
  margin: auto;
}

.addBlogButton:hover {
  background-color: #000;
}
