.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 36px 0;
}

.heading {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 28px;
  color: rgb(48, 48, 48);
}

.heading > span {
  font-weight: 600;
}
.openInNewLink {
  text-decoration: none;
  display: flex;
  color: inherit;
  transition: transform 150ms ease-in-out;
}

.openInNewLink:hover {
  transform: scale(1.075);
}

.blogContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  justify-content: space-evenly;
  gap: 24px;
  margin: 32px 0;
}

@media (max-width: 1200px) and (min-width: 1001px) {
  .blogContainer {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  .blogContainer {
    width: 90%;
  }
}

@media (max-width: 800px) {
}
@media (max-width: 600px) {
  .blogContainer {
    margin: 24px 0;
  }
}
@media (max-width: 400px) {
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1280px;
  }
}
