* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #a4c4b5;
  --primary-color-dark: #478366;
}
